.button_wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}
.button_wrapper .toggler_plan {
    position: absolute;
    display: inline;
    top: 0px;
    left: 47.5%;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 25px;
    opacity: 0;
}
.billed_monthly {
    font-weight: bold;
    position: absolute;
    top: 0px;
    margin: auto;
    left: 36.5%;
}
.billed_yearly {
    position: absolute;
    top: 0px;
    left: 55%;
}
.plan_button {
    top: 3px;
    margin: auto;
    width: 60px;
    height: 25px;
    position: relative;
    border-radius: 25px;
    background-color: rgb(129, 129, 253);
}
.plan_button div {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: left 0.4s ease-in-out;
}
.plans_monthly {
    width: 100%;
    margin: 0;
}
.plan_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0%;
}
.plans_yearly {
    display: none;
}

.toggler_plan:checked + .plan_button > div {
    left: 35px;
}
.toggler_plan:checked ~ .billed_monthly {
    font-weight: normal;
    transition: 0.4s;
}
.toggler_plan:checked ~ .billed_yearly {
    font-weight: bold;
    transition: 0.4s;
}
.toggler_plan:checked ~ .plans_yearly {
    display: block;
}
.toggler_plan:checked ~ .plans_monthly {
    display: none;
} 

